<p id="notice"><%= notice %></p>
<p>Latitude <%= @place.latitude %></p>
<p>Longitude <%= @place.longitude %></p>
<% @place.comments.each do |c| %>
  <p><%= c.mood %></p>
  <p><%= c.things %></p>
<% end %>

<%= form_for [@place, @place.comments.build] do |f| %>
  <%= f.text_field :mood %><br />
  <%= f.text_area :things %><br />
  <%= f.submit "Comment" %>
<% end %>
