<div id="header">
  <h1>Quiet Places</h1>
</div>
<p id="notice"><%= notice %></p>

<div id="street-map-container" lat="<%= @place.latitude %>" lng="<%= @place.longitude %>">
</div>

<div class="comment-container">
<% @place.comments.each do |c| %>
  <div class="comment">
    <div class="mood" style="background-color: <%= c.mood %>;"></div>
    <div class="things"><%= c.things %></div>
  </div>
<% end %>
</div>

<%= form_for [@place, @place.comments.build] do |f| %>
  <%= f.text_field :mood %><br />
  <%= f.text_area :things %><br />
  <%= f.submit "Comment" %>
<% end %>
