<div id="header">
  <h1>Quiet Places</h1>
</div>

<div id="main">
  <p id="notice"><%= notice %></p>

  <div id="street-map-container" lat="<%= @place.latitude %>" lng="<%= @place.longitude %>">
  </div>

  <div id="comment-container">
  <% @place.comments.each do |c| %>
    <div class="comment">
      <div class="mood" style="background-color: <%= c.mood %>;"></div>
      <div class="things"><%= c.things %></div>
    </div>
  <% end %>
  </div>

  <%= form_for [@place, @place.comments.build] do |f| %>
    <div class="form-label">Choose a color of your mood:</div>
    <div id="colors">
      <div><a href="#" class="color-picker" style="background-color: #f31;"></a></div>
      <div><a href="#" class="color-picker" style="background-color: #146;"></a></div>
    </div>
    <%= f.hidden_field :mood %><br />
    <div class="form-label">Write down what you're doing:</div>
    <%= f.text_area :things, rows: 6, placeholder: "The book you're reading...\nThe music you're listening...\nThe coffee you're drinking...\nOr something else..." %><br />
    <%= f.submit "Comment" %>
  <% end %>
</div>
