<!DOCTYPE html>
<html>
<head>
  <title>Shizuka</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://map.qq.com/api/js?v=2.exp&key=657cbeddc4f723649a3397145cdff8b1" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <%= yield %>
</div>
</body>
</html>
